<!DOCTYPE html>
<html>
<head>
	<title>Shopping</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reader/research.css">
</head>
<body>
	<div id="search">
		<div id="title">Shopping</div>
		<div id="search-bar">
			<form>
				<input type="text" />
			</form>
		</div>
	</div>
	<div id="content-wrapper">
		<!-- link list -->
		<div id="link_list">
			<ul>
				<li tabindex="0" role="button">Accessories</li>
				<li tabindex="0" role="button">Art</li>
				<li tabindex="0" role="button">Bags and Purses</li>
				<li tabindex="0" role="button">Bath and Beauty</li>
				<li tabindex="0" role="button">Books and Zines</li>
				<li tabindex="0" role="button">Candles</li>
			</ul>
		</div>
		<!-- table -->
		<div id="table">
		
		</div>
	</div>


<!-- such javascript -->
<script src="/scripts/jquery-1.11.3.min.js"></script>
<script src="/scripts/reader/table.js"></script>
<script src="/scripts/reader/product_table.js"></script>
<script src="/scripts/api_key.js"></script>
<script src="/scripts/reader/etsy.js"></script>
<script src="/scripts/reader/main.js"></script>
<script>


/* 
To Do:

Test with VoiceOver and JAWS

*/

</script>
</body>
</html>